.navbar-brand{
    font-family: "Arizonia", cursive;
    font-size: 30px;
    color: orange;
    vertical-align: middle !important;
}

.navbar {
    background: white !important;
}

#myNavbar a {
    color: black;
    vertical-align: middle !important;
}

#myNavbar a:hover {
    color: darkgrey;
}

.active {
    color: red;
}
