/* Bootstrap Overrides */

html, body {
  margin: 0;
  height: 100%;
}


.btn-primary {
  background-color: #FFA400;
  border-color: #FFA400;

}

.btn-primary:hover {
  background-color: rgb(255, 145, 0);
  border-color: rgb(255, 145, 0);
}

