/****************  LAYOUT ***********************/


.plan-container {
  width: 80%;
  height: auto;
  margin: 5em auto;
  padding: 1em;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
}

.p1 {
    display: flex;
    justify-content: flex-end;
}
.p1, .p2, .p3, .p4 {
padding: 0 10em 3em;
}

.plan-profile-link a {
  color: white !important;

}

.plan-profile-link button {
  padding-left: 1em;
}


/****************  FORM ***********************/
:focus {
  outline: none;
}

.effect-1,
.effect-2,
.effect-3 {
  display: block;
  margin: 0 auto;
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
  background: transparent;
  text-align: center;
}

.effect-2 ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #50DEF0;
  transition: 0.4s;
}

.effect-2:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0;
}
