.profile-container {
  background-color: #50DEF0;
  align-content: center;
  padding-top: 5em;
  height: 100vh;

}

.profile-icon {
  padding: 0 7em 3em 0;
  display: flex;
  justify-content: flex-end;

}

.profile-icon a {
  color: black !important;
}

.profile-icon a:hover {
  color: grey!important;
}


/*#FFA400*/
