.plan_container {
  background-color: #fea403;
  height: 100em;
  align-content: center;
  text-align: center;
  padding-top: 5em;
}

/****************  FORM ***********************/
:focus {
  outline: none;
}

.effect-1,
.effect-2,
.effect-3 {
  display: block;
  margin: 0 auto;
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
  background: transparent;
  text-align: center;
}

.effect-2 ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: 0.4s;
}

.effect-2:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0;
}
