html, body, #intro {
    height: 100%;
}

h1{
    font-family: Circular,Roboto,Helvetica Neue,sans-serif !important;
    font-weight: 600 !important
    /* background: url(/assets/logo.png) no-repeat center; */
    margin-bottom: 0;
    /* text-indent: -10000px; */
    text-align: center;
}

#logo{
  display: block;
  width: 100px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  z-index: -1000;
  /* margin-bottom: -30px; */
}


/* label {font-size:20px; font-weight: bold;} */

body {
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: black;
    background: white;
}

/*aasdfasdfsa*/

#vote-table{

  width: 90%;
  max-width: 960px;
  margin: 20px auto;
  border-radius: 6px;
  box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid lightgray;
  /* padding: 40px; */

}

#vote-table form:after {
    margin: 0;
    content: '';
    display: block;
    clear: both;
}

form{
  padding: 40px;
}

header {
  background: #eee;
  padding: 10px 0;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    background-color: white  ;
    border: 0;
    font-size: 20px;
    color: #989898;
    margin: 10px;
}

input[type="text"]:focus {
  outline: none;
  border-bottom: 1px solid skyblue;
}

button {
    padding: 20px;
    margin: 10px;
    /* width: 15%; */
    background: skyblue;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    border-radius: 0.2em;
}

#share:hover, #submit:hover, button:hover{
    /* transition: 0.3s; */
    background: rgba(25, 162, 181, 0.85);
  }

.addItem{
  float: right;

}

.items{
  margin-bottom: 10%;
}

li{
  list-style-type: none;
}

#share{
  float:right;
  background-color: lightgray;
}

/* #share:hover{
  background-color:
} */

#submit{
  display: flex;
  margin: auto;
  background-color: lightgray;
}

.popuptext{
  visibility: hidden;
}
