<html>

  <head>

    <title>Vote Me</title>
    <link href="styles.css" rel="stylesheet" type="text/css" />
    <link href="modal.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>...</h1>
    <!-- <img id="logo" src="/logo.svg" alt="pic" /> -->
    <div>
      <form id="vote-table" method="post" target="/result">
        <header>
          <h1>Vote Your Travel</h1>
        </header>
        <button type="button" id="share">share</button> <br />
        <input type="text" id="tripname" placeholder="Enter your trip name" onchange="textChanged(this);"> <br><br>

        <div class="items">
          <!-- <div id="transportsItems"> -->
          <h2 class="title"> Transportation </h2><br>
          <ul id="transportsItems">
            <li>
              <span><button type="button" id="TVB1" onclick="addVote(this)"> Vote </button> </span>
              <span><input type="text" name="transports" placeholder="Add option..."> </span>
              <span><label id="transportsVote"></label> </span>
            </li>
          </ul>
          <button type="button" id="transports" class="addItem" onclick="addItem(this)">Add</button>
        </div>

        <div class="items">
          <h2 class="accomodation"> Accomodation </h2><br>
          <ul id="accomoItems">
            <li>
              <span><button type="button" id="AMVB1" onclick="addVote(this)"> Vote </button></span>
              <span><input type="text" name="accomodation" placeholder="Add option..."> </span>
              <span><label id="accomodationVote"></label> </span>
            </li>
          </ul>
          <button type="button" id="accomodation" class="addItem" onclick="addItem(this)">Add</button>
        </div>

        <div class="items">
          <h2 class="activity"> Activity </h2><br>
          <ul id="activityItems">
            <li>
              <span><button type="button" id="ACVB1" onclick="addVote(this)"> Vote </button></span>
              <span><input type="text" name="activity" placeholder="Add option..."></span>
              <span><label id="activityVote"></label></span>
            </li>
          </ul>
          <button type="button" id="activity" class="addItem" onclick="addItem(this)">Add</button>
        </div>


        <br /><button type="submit" id="submit">Submit</button>
      </form>
    </div>

    <!-- popup form -->

    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close"></span>
        <form id="inviteForm">
          <h3>Invite to vote</h3>
          <span><label for="invitee">People</label></span> <br />
          <span><input class="modalInput" type="email" placeholder="Enter email addresses" /></span><br />
          <span><button id="done" type="submit">Done</button></span>
        </form>
      </div>
    </div>

    <span class="popuptext" id="invite">A Simple Popup!</span>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="vote.js"></script>

  </body>


</html>